.badge {
  cursor: pointer;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (max-width: 991px) {
  .ures-kosar {
    position: inherit !important;
    left: auto !important;
    top: auto !important;
    padding-bottom: 2rem;
  }

  #admin-tablazat {
    width: 100% !important;
  }

  #admin-form {
    width: 100% !important;
  }
}
