.badge {
  cursor: pointer;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

@media only screen and (max-width: 991px) {
  .ures-kosar {
    position: inherit !important;
    left: auto !important;
    top: auto !important;
    padding-bottom: 2rem;
  }
}
